* {
    box-sizing: border-box;
    font-family: monospace;
}

:root {
    --primary: lightgrey;
    --secondary: lightgreen;
    --shadow: black;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    text-align: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;    
}

header {
    padding: 10px;
    background-color: var(--primary);
    max-width: 70%;
    margin: 10px;
    border-radius: 15px;
}

.page-title {
    text-decoration: underline;
}

.quiz-content {
    padding: 20px 10px;
    background-color: var(--primary);
    width: 100%;
    max-width: 50%;
    border-radius: 20px;
}

.quiz-container {
    width: 100%;
    /* max-width: 80%; */
}

.quiz-question {
    font-size: 30px;
    margin-bottom: 25px;
    word-wrap: break-word;
}

.btn {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary);
    box-shadow: 0 3px var(--shadow);
    top: -3px;
    font-size: 45px;
    /* position: relative; */
}

#question-btn {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px;
}

#highscore-btn {
    font-size: 35px;
    flex-wrap: wrap;
    position: absolute;
    left: 9px;
    top: 9px;
}

/* #hide {
    display: none;
} */

button:hover {
    box-shadow: 0 2px var(--shadow);
    top: -2px;
}

button:active {
    box-shadow: 0 0px var(--shadow);
    top: 0px;
}